/* General Styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Generic styling */
.paper_padding--sm {
  padding: 30px !important;
}
.u_mt_huge {
  margin-top: 50px !important;
}
.u_mt_large {
  margin-top: 40px !important;
}
.u_mt_medium {
  margin-top: 30px !important;
}
.u_mt_small {
  margin-top: 20px !important;
}
.u_mt_tiny {
  margin-top: 10px !important;
}

.u_mb_huge {
  margin-bottom: 50px !important;
}
.u_mb_large {
  margin-bottom: 40px !important;
}
.u_mb_medium {
  margin-bottom: 30px !important;
}
.u_mb_small {
  margin-bottom: 20px !important;
}
.u_mb_tiny {
  margin-bottom: 10px !important;
}
.u_mtb_huge {
  margin: 50px 0 !important;
}
.u_mtb_large {
  margin: 40px 0 !important;
}
.u_mtb_medium {
  margin: 30px 0 !important;
}
.u_mtb_small {
  margin: 20px 0 !important;
}
.u_mtb_tiny {
  margin: 10px 0 !important;
}
.u_p_huge {
  padding: 50px !important;
}
.u_p_large {
  padding: 40px !important;
}
.u_p_medium {
  padding: 30px !important;
}
.u_p_small {
  padding: 20px !important;
}
.u_p_tiny {
  padding: 10px !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* Custom Styling */
.application-editor .ql-editor,
.application-editor .ql-blank {
  height: 500px;
}

.MuiFormHelperText-root.Mui-error {
  margin: 0;
  margin-top: 10px;
}

main {
  overflow: hidden;
}

#material-select-small {
  padding: 10.5px 32px 10.5px 14px;
}

.shadow_small_rounded {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

input.MuiInputBase-input.MuiInput-input.MuiInputBase-inputMarginDense.MuiInput-inputMarginDense {
  text-align: right;
}

.action-button {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}

.admin-dasboard-rounded-icon {
  font-size: 50px;
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.admin-dasboard-rounded-icon svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.icon-green {
  color: #3cb878;
  background-color: #d1f3e0;
}

.icon-blue {
  color: #3f7afc;
  background-color: #e1f1ff;
}

.icon-orange {
  color: #ffa539;
  background-color: #fff2d8;
}

.icon-red {
  color: #ff0000;
  background-color: #ffeaea;
}

.teacher-admin-options {
  font-size: 50px;
}

.login-bg {
  position: relative;
  background: url("./assets/login-bg.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}
.login-bg--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 0;
  padding: 20px 40px;
}

/* Sidebar Style */
.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  box-shadow: 0px 0px 10px 0px rgb(27, 26, 26);
  background: #233044;
}

.break {
  flex-basis: 100%;
  height: 0;
}
